.audio {
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;

    &__icon {
        margin: 0 20px;
    }
    
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background-color: #ffffff;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        outline: none;
    }
    
    &__btn > svg {
        fill: #3674ff;
    }
    
    &__duraction {
        position: relative;
        z-index: 1;
        opacity: 0.7;
    }
    
    &__progress {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background: #fff;
        opacity: 0.1;
        z-index: 0;
        transition: width 0.3s;
    }
    
    &__controls {
        position: static;
        z-index: 1;
    }
}

